.removeImage {
    font-size: 6px;
    margin-left: -20px;
    margin-top: -20px;
}

.preview {
    height: 172px;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    display: inline-flex;
    width: 250px;
    height: 175px;
    padding: 7px 7px;
}

.upload {
    height: 140px;
    border: 1px solid rgb(109, 106, 106);
    border-radius: 10px;
}

img {
    border-radius: 8px;
    display: flex;
}

.back-btn-tag {
    font-size: 14px;
}

.top_row {
    padding: 10px 0px 10px 0px;
    width: 330px;
    height: 250px;
}

.ion-fab {
    margin-top: -13px;
}