// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

home-slide,
view-slide {
  width: 100%;
  height: 100%;
}

ion-icon {
  margin: 5px;
  font-size: 22px;
}