<ion-header color="success">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="slideNo === 1" (click)="backbtn()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center">
      Image to PDF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-slides>

      <ion-slide>
        <home-slide (onImageSelect)="nextSlide($event)"></home-slide>
      </ion-slide>

      <ion-slide>
        <view-slide [images]="selectedImages"></view-slide>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>